.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Scraper.iml
.idea/inspectionProfiles/profiles_settings.xml
geckodriver.log
users - Copy.db
users.accdb
users.db
__pycache__/config.cpython-37.pyc
config.py
